<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Retrô Cars</title>
	<link rel="stylesheet" type="text/css" href="css/uikit-rtl.min.css"/>	
	<link rel="stylesheet" type="text/css" href="css/uikit.min.css"/>
	<link rel="stylesheet" type="text/css" href="estilo.css"/>
	<script src="js/uikit.min.js"/>
	<script src="js/uikit-icons.min.js"/>
	<style>
		body{
			width: 1300px;
			height: 500px;
			padding : 100px;	
			background-image: url(imagens/back2.jpg);
			background-repeat: no-repeat;
			background-position: relative;
			background-size: 1400px 1000px;
		}
	</style>
</h:head>
<h:body>
	<div class="uk-position-center uk-overlay uk-overlay-default">
		<div class="uk-card uk-card-default uk-card-body ">
			<form action="/Clemilton/recebendoCad" method="post">
				<div class="uk-margin">
			        <div class="uk-inline">
							<h:outputLabel>Nome : </h:outputLabel>		            
							<h:inputText class="uk-input uk-form-width-medium uk-form-small" name="nome" id="nome"/>
						</div>
				</div>
				<div class="uk-margin">
			        <div class="uk-inline">
			        	<h:outputLabel>Descrição : </h:outputLabel>			            
						<h:inputText class="uk-input uk-form-width-medium uk-form-small" name="data" id="id"/>
					</div>
				</div>
				<div class="uk-margin">
			        <div class="uk-inline">			            
			        	<h:outputLabel> Data : </h:outputLabel>
						<h:inputText class="uk-input uk-form-width-medium uk-form-small" name="data" id="id"/>
					</div>
				</div>				
			</form>
		</div>
	</div>
</h:body>
</html>
