.foto{ 
	filter: contrast(50%);
	filter: blur(60%); 
}
body, div, h1{
	margin: 0; padding: 0; border: 0;
}
#vintage h1 {
	text-align: center;
	margin: 200px auto;
	font-family: "League-Gothic", Courier;
	font-size:60px;
	text-transform: uppercase;
	color: #707070;
	text-shadow: 3px 1px 0px #eee, 2px 0px 0px #707070;
}
.img-bk{	
	width: 1300px;
	height: 500px;
	padding : 100px;	
	background-image: url(imagens/back.jpg);
	background-repeat: no-repeat;
	background-position: relative;
	background-size: 1400px 1000px;				
}