<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
<head>
	<link rel="stylesheet" type="text/css" href="css/uikit-rtl.min.css"/>	
	<link rel="stylesheet" type="text/css" href="css/uikit.min.css"/>
	<link rel="stylesheet" type="text/css" href="estilo.css"/>
	<script src="js/uikit.min.js"/>
	<script src="js/uikit-icons.min.js"/>
</head>
<h:body>
<div class="uk-position-relative">
    <img class="foto" src="imagens/u.jpg" alt=""/>
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li>
                        <a href="#">Parent</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-header">Header</li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div align="center">			
			<div class="uk-card uk-card-default uk-card-body uk-child-width-1-2@l uk-margin" uk-grid="">
				<ui:repeat var="ca" value="#{CABean.getLista()}">
					<div class="uk-card-media-left uk-cover-container">
		    			<div class="uk-card-header">
							<img src="#{ca.foto}"> </img><br/>
						</div>
						<div class="uk-card-body">
							#{ca.nome}
							#{ca.data}
							#{ca.descricao}							
						</div>
							<h:form>
								<h:commandButton class="uk-button uk-button-secondary" value="Deletar" action="#{CABean.deletar(ca.id)}" />
							</h:form>									 
					</div>						
				</ui:repeat>
			</div>																			
		</div>
<div class="foto uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('imagens/laranja.jpg');">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0; scale: 2,1,1; viewport: 0.5;">
			<img class="uk-border-circle" src="imagens/logo.png" width="300" height="300" alt="Border circle"/>
		</h1>
        <p uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; viewport: 0.5;">
        	<h3>Feito para que você possa apreciar dos mais antigos aos mais novos modelos de carros.</h3>        
        </p>
    </div>
</div>
<div style="background-color:silver;" class="uk-section" uk-section-muted="">
    <div class="uk-container">     
        <div class="uk-grid-match uk-child-width-1-1@m" uk-grid="">
            <div>
                <p> Copyright © 2019 | Samira </p>            
        	</div>
    	</div>
	</div>
</div>
</h:body>
</html>
