<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
	<link rel="stylesheet" type="text/css" href="css/uikit-rtl.min.css"/>	
	<link rel="stylesheet" type="text/css" href="css/uikit.min.css"/>
	<link rel="stylesheet" type="text/css" href="estilo.css"/>
	<script src="js/uikit.min.js"/>
	<script src="js/uikit-icons.min.js"/>
</head>
<h:form enctype="multipart/form-data">
	<h:inputFile id="foto" name="foto" value="#{ImagemBean.foto}"/> <br/>
	<h:commandButton id="btn" value="Enviar" action="#{ImagemBean.pegarImagem}"/>
<br/><br/>
</h:form>
<h:form enctype="multipart/form-data">
	<h:inputText id="nome" name="nome" value="#{CABean.nome}"/><br/>
	<h:inputText id="data" name="data" value="#{CABean.data}"/>
	<h:inputText id="descricao" name="descricao" value="#{CABean.descricao}"/>
	<h:inputFile id="foto" name="foto" value="#{CABean.foto}"/><br/>
	<h:commandButton id="btt" value="Enviar" action="#{CABean.add}"/> <br/><br/>	
</h:form>
<h:form enctype= "multipart/form-data">
	<h:inputFile id="video" name="video" value="#{VideoBean.video}"/> <br/>
	<h:commandButton id="bt" value="Enviar" action="#{VideoBean.pegarVideo}"/>
</h:form>

</html>
