<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
<ui:composition template="template/template.xhtml">
	<ui:define name="content"> <!-- Define o conteúdo da página, substituindo assim o arquivo content.xhtml -->
		<h3>Lista de usuários</h3>
		<div align="center">
		<!-- Carrega a lista do bean(que vem da controle) e faz o loop -->
		<h:form>
			 <h:dataTable value="#{UserBean.getLista()}" var="usuario" border="1"> 
				<h:column>
					<f:facet name="header">ID</f:facet>
					<!-- pega um atributo específico -->
					#{usuario.id}
				</h:column>
				<h:column>
					<f:facet name="header">nome</f:facet>
					#{usuario.nome}
				</h:column>
				<h:column>
					<f:facet name="header">Senha</f:facet>
					#{usuario.senha}
				</h:column>
				<h:column>
					<f:facet name="header">Email</f:facet>
					#{usuario.email}
				</h:column>
				<h:column>
						<f:facet name="header">Editar</f:facet>
						<a href="editar.xhtml?id=#{usuario.id}">Editar</a>
				</h:column>
				<h:column>
						<f:facet name="header">Remover</f:facet>
						<h:commandLink value="Deletar" action="#{UserBean.deletar(usuario.id)}" />
				</h:column>				
			</h:dataTable>
		</h:form>
		</div>
	</ui:define>
</ui:composition>
</h:body>

</html>
