<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>
	<h:outputLink value="login.xhtml">login</h:outputLink><br/>
	<h:outputLink value="register.xhtml">cadastro</h:outputLink><br/>
	<h:outputLink value="home.xhtml"> home</h:outputLink><br/>
	<h:outputLink value="logout.xhtml">sair</h:outputLink><br/>
</h:body>
</html>
