<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="css/uikit-rtl.min.css"/>	
	<link rel="stylesheet" type="text/css" href="css/uikit.min.css"/>
	<link rel="stylesheet" type="text/css" href="estilo.css"/>
	<script src="js/uikit.min.js"/>
	<script src="js/uikit-icons.min.js"/>
</h:head>
<h:body>
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 7:3; animation: push;autoplay: true" >
    <ul class="uk-slideshow-items">
        <li>
           <img class="foto" src="imagens/carro.jpg" uk-cover=""  uk-img="target: !.uk-slideshow-items"/>
             <div class="uk-position-top">             
             	<div class="uk-position-relative">    
    				<div class="uk-position-top-center">
        				<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="">
				            <div class="uk-navbar-left">
                				<ul class="uk-navbar-nav">
                    				<li class="uk-active">
	                    				<a href='#modal-example' uk-toggle="">
	                    					<div id="modal-example" uk-modal="">
										    <div class="uk-modal-dialog uk-modal-body">
										        <h2 class="uk-modal-title">Login</h2>
										        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										        <p class="uk-text-right">
										            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
										            <button class="uk-button uk-button-primary" type="button">Save</button>
										        </p>
										    </div>
										</div>    
	                    				<span uk-icon='user'> </span> LOGIN </a>
                    				</li>                    				                    				                		
                    				<li class="uk-active">
                   						<a href='#modal-example2' uk-toggle="">
                    					<div id="modal-example2" uk-modal="">
										    <div class="uk-modal-dialog uk-modal-body">
										        <h2 class="uk-modal-title">Headline</h2>
										        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										        <p class="uk-text-right">
										            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
										            <button class="uk-button uk-button-primary" type="button">Save</button>
										        </p>
										    </div>
										</div>    
                    					<span uk-icon='pencil'></span> CADASTRO </a></li>
                    				<li class="uk-active"><a href='#'><span uk-icon='comments'> </span> SOBRE </a></li>
                    				<li class="uk-active"><a href='#'><span uk-icon='users'> </span> PARCERIAS </a></li>       		
                				</ul>
            				</div>
        				</nav>
	    			</div>
				</div>
             </div>	
             <div class="uk-position-center">
             	<div id="vintage">
						<h1 >Vintage retro</h1>
				</div>					             
             </div>
        </li>
        <li>
           <img class="foto" src="imagens/fordA2.jpg" alt="" uk-cover=""  uk-img="target: !.uk-slideshow-items"/>
            	<div class="uk-position-top">             
             	<div class="uk-position-relative">    
    				<div class="uk-position-top-center">
        				<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="">
				            <div class="uk-navbar-left">
                				<ul class="uk-navbar-nav">
                    				<li class="uk-active">
                    					<a href='#modal-example3' uk-toggle="">
	                    					<div id="modal-example3" uk-modal="">
										    <div class="uk-modal-dialog uk-modal-body">
										        <h2 class="uk-modal-title">Headline</h2>
										        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										        <p class="uk-text-right">
										            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
										            <button class="uk-button uk-button-primary" type="button">Save</button>
										        </p>
										    </div>
										</div>    
	                    				<span uk-icon='user'></span> LOGIN </a>
                    				</li>                    				                    				                		
                    				<li class="uk-active">
                   						<a href='#modal-example4' uk-toggle="">
                    					<div id="modal-example4" uk-modal="">
										    <div class="uk-modal-dialog uk-modal-body">
										        <h2 class="uk-modal-title">Headline</h2>
										        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										        <p class="uk-text-right">
										            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
										            <button class="uk-button uk-button-primary" type="button">Save</button>
										        </p>
										    </div>
										</div>    
                    				<span uk-icon='pencil'></span> CADASTRO </a></li>					           		
                    				<li class="uk-active"><a href='#'><span uk-icon='comments'></span> SOBRE </a></li>
                    				<li class="uk-active"><a href='#'><span uk-icon='users'></span> PARCERIAS </a></li>
                				</ul>
            				</div>
        				</nav>
	    			</div>
				</div>
             </div>	
            	<div class="uk-position-center">					
					<div id="vintage">
						<h1 >Vintage retro</h1>
					</div>									            
             	</div>
        </li>
        <li>
            <img class="foto" src="imagens/cadillacEldorado2.jpg" alt="" uk-cover=""  uk-img="target: !.uk-slideshow-items"/> 
           		<div class="uk-position-top">             
             	<div class="uk-position-relative">    
    				<div class="uk-position-top-center">
        				<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="">
				            <div class="uk-navbar-left">
                				<ul class="uk-navbar-nav">
                    				<li class="uk-active">
										<a href='#modal-example5' uk-toggle="">
	                    					<div id="modal-example5" uk-modal="">
										    <div class="uk-modal-dialog uk-modal-body">
										        <h2 class="uk-modal-title">Headline</h2>
										        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										        <p class="uk-text-right">
										            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
										            <button class="uk-button uk-button-primary" type="button">Save</button>
										        </p>
										    </div>
										</div>    
	                    				<span uk-icon='user'></span> LOGIN </a>
                    				</li>                    				                    				                		
                    				<li class="uk-active">
                   						<a href='#modal-example6' uk-toggle="">
                    					<div id="modal-example6" uk-modal="">
										    <div class="uk-modal-dialog uk-modal-body">
										        <h2 class="uk-modal-title">Headline</h2>
										        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										        <p class="uk-text-right">
										            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
										            <button class="uk-button uk-button-primary" type="button">Save</button>
										        </p>
										    </div>
										</div>    
									<span uk-icon='pencil'></span> CADASTRO </a></li>
                    				<li class="uk-active"><a href='#sobre'><span uk-icon='comments'></span> SOBRE </a></li>
                    				<li class="uk-active"><a href='#parceria'><span uk-icon='users'></span> PARCERIAS </a></li>					           		
                				</ul>
            				</div>
        				</nav>
	    			</div>
				</div>
             </div>	
            <div class="uk-position-center">
				<div id="vintage">
						<h1 >Vintage retro</h1>
				</div>				             
            </div>       
        </li>
    </ul>

    <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous="" uk-slideshow-item="previous"></a>
    <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next="" uk-slideshow-item="next"></a>

</div>
 <a id="sobre" name="sobre"></a> 
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid="">
    <div class="uk-card-media-left uk-cover-container">
        <img src="imagens/carr.jpg" alt="" uk-cover=""/>
        <canvas width="400" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Sobre nós</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
</div>
<div class="foto uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" uk-parallax="bgy: -200" style="background-image: url('imagens/cars.jpg');"></div>
 <a id="parceria" name="parceria"></a>
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid="">
    <div class="uk-card-media-left uk-cover-container">
        <img src="imagens/64857.jpg" alt="" uk-cover=""/>
        <canvas width="400" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Parcerias</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
</div>
<div style="background-color:silver;" class="uk-section" uk-section-muted="">
    <div class="uk-container">     
        <div class="uk-grid-match uk-child-width-1-1@m" uk-grid="">
            <div>
                <p> Copyright © 2019 | Samira </p>            
        	</div>
    	</div>
	</div>
</div>
</h:body>
</html>
