<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>
	<h:form>
		<h:panelGrid columns="3">
			<h:outputLabel value="nome"/>
			<h:inputText name="nome" id="nome" value="#{verificacao.nome}"/>
			<h:message for="nome" class="error_message"/>
			<h:outputLabel value="senha"/>
			<h:inputSecret name="senha" id="senha" value="#{verificacao.senha}"/>
			<h:message for="senha"/>
			<h:commandButton value="login" action="#{verificacao.action()}"/>
		</h:panelGrid>
	</h:form>
</h:body>
</html>
